# Xcode
*.xcuserdata
*.xcworkspace
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
Build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# App Store Connect
*.p8
*.p12
*.mobileprovision
*.provisionprofile

# Android
.gradle/
.idea/
*.iml
local.properties
build/
*/build/
app/release/
.kotlin/
*.apk
*.aab
*.jks
*.keystore
